var config = {
        plugins: [
            "video-png" // Display the video feed as static pngs (work in every browser)
          , "hud"       // Display the artificial horizon, altimeter, compass, etc.
          , "pilot"     // Pilot the drone with the keyboard
        ]
};

module.exports = config;

